In [39]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from DeezyMatch import train as dm_train

/Users/scohen6/miniconda3/lib/python3.11/site-packages/DeezyMatch/rnn_networks.py:30: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [14]:
columns = ['test_word', 'true_word', 'is_correct']
df = pd.read_csv('../create_topmatching_dataset/wikigaz_en_topmatching.txt',sep='\t', names=columns)

In [15]:
df.head(5)

                   test_word                      true_word  is_correct
0             Bentley Priory              McCredie Township       False
1             Bentley Priory                 Bentley Priory        True
2  Westfield Heritage Centre  Cardiff School of Engineering       False
3  Westfield Heritage Centre      Westfield Heritage Centre        True
4           Southgate Estate           Black Rock Rail Yard       False

In [29]:
TRAIN_PERC = 70
VALID_PERC = 15
TEST_PERC = 15

In [30]:
# shuffle the DataFrame rows
df = df.sample(frac = 1)

In [34]:
df.head(5)

               test_word           true_word  is_correct
134041              WJZY                WJZY        True
149977   Marburn Academy     Marburn Academy        True
269627       New Coundon         New Coundon        True
23272     Garden Theater  Limbury Cum Biscot       False
123644  Windgather Rocks  Fork Union Academy       False

In [37]:
train_count = int(len(df) * TRAIN_PERC / 100)
valid_count = train_count + int(len(df) * VALID_PERC / 100)
df_train = df.iloc[:train_count,:]
df_valid = df.iloc[train_count:valid_count,:]
df_test = df.iloc[valid_count:,:]

In [38]:
df_train.to_csv('wikigaz_train_set.txt', sep='\t', index=False, header=False)
df_valid.to_csv('wikigaz_valid_set.txt', sep='\t', index=False, header=False)
df_test.to_csv('wikigaz_test_set.txt', sep='\t', index=False, header=False)

In [ ]:
# train a new model
dm_train(input_file_path="./train_conf.yaml", 
         dataset_path="./wikigaz_train_set.txt", 
         model_name="wikigaz_en_model")

2024-03-22 17:57:07 macos-RD46FV4LPF [INFO] read input file: ./train_conf.yaml
2024-03-22 17:57:07 macos-RD46FV4LPF [INFO] pytorch will use: cpu
2024-03-22 17:57:07 macos-RD46FV4LPF [INFO] read CSV file: ./wikigaz_train_set.txt
2024-03-22 17:57:08 macos-RD46FV4LPF [INFO] number of labels, True: 112356 and False: 112015
2024-03-22 17:57:08 macos-RD46FV4LPF [INFO] Splitting the Dataset
2024-03-22 17:57:08 macos-RD46FV4LPF [INFO] finish splitting the Dataset. User time: 0.04558205604553223
2024-03-22 17:57:08 macos-RD46FV4LPF [INFO] splits are as follow:
split
train    157059
test      33657
val       33655
Name: count, dtype: int64
2024-03-22 17:57:08 macos-RD46FV4LPF [INFO] start creating a lookup table and convert characters to indices
2024-03-22 17:57:09 macos-RD46FV4LPF [INFO] -- create vocabulary
2024-03-22 17:57:15 macos-RD46FV4LPF [INFO] -- convert tokens to indices
2024-03-22 17:57:15 macos-RD46FV4LPF [INFO] -- create a lookup table for tokens
2024-03-22 17:57:15 macos-RD46FV4LPF [INFO] -- read list of characters from ./characters_v001.vocab
2024-03-22 17:57:15 macos-RD46FV4LPF [INFO] -- Length of vocabulary: 23491

2024-03-22 17:57:18 macos-RD46FV4LPF [INFO] ******************************
2024-03-22 17:57:18 macos-RD46FV4LPF [INFO] **** (Bi-directional) GRU ****
2024-03-22 17:57:18 macos-RD46FV4LPF [INFO] ******************************
2024-03-22 17:57:18 macos-RD46FV4LPF [INFO] read inputs
2024-03-22 17:57:18 macos-RD46FV4LPF [INFO] create a two_parallel_rnns model
2024-03-22 17:57:19 macos-RD46FV4LPF [INFO] start fitting parameters
2024-03-22 17:57:19 macos-RD46FV4LPF [INFO] Number of batches: 614
2024-03-22 17:57:19 macos-RD46FV4LPF [INFO] Number of epochs: 5

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/614 [00:00<?, ?it/s]